@import "../../vars.css";

.container {
  margin-top: 76px;
  color: var(--color-text);
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.projects {
  margin-top: 37px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100%;
}

@media screen and (max-width: 830px) {
  .container {
    margin-left: 5%;
    margin-right: 5%;
  }

  .title {
    font-size: 28px; /* Reduced font size */
  }

  .projects {
    gap: 10px; /* Reduced gap between project cards */
  }
}

@media screen and (max-width: 480px) {
  .container {
    margin-left: 2.5%;
    margin-right: 2.5%;
  }

  .title {
    font-size: 24px; /* Further reduced font size */
  }

  .projects {
    flex-direction: column; /* Stack project cards vertically */
    align-items: stretch; /* Stretch project cards to fill container */
  }
}
