@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 120px;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  padding: 58px 10%;
  gap: 10px;
}

.text h2 {
  font-size: 70px;
  font-weight: 700;
  letter-spacing: 4px;
}

.text p {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 2px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 26px;
}

.link {
  display: flex;
  align-items: center;
  gap: 25px;
}

.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    gap: 23px;
    padding: 40px 5%; /* Adjusted padding for smaller screens */
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text h2 {
    font-size: 50px; /* Reduced font size */
    font-weight: 600; /* Reduced font weight */
    letter-spacing: 2px;
  }

  .text p {
    font-size: 20px; /* Reduced font size */
    font-weight: 300; /* Reduced font weight */
    letter-spacing: 1px;
  }

  .links {
    align-items: center;
  }

  .link a {
    font-size: 20px; /* Reduced font size */
    font-weight: 300; /* Reduced font weight */
  }
  .title {
    font-size: 25px; /* Reduced font size */
  }
}

@media screen and (max-width: 480px) {
  .text h2 {
    font-size: 40px; /* Further reduced font size */
    font-weight: 500; /* Further reduced font weight */
    letter-spacing: 1px;
  }

  .text p {
    font-size: 18px; /* Further reduced font size */
    font-weight: 300;
    letter-spacing: 0.5px;
  }

  .link a {
    font-size: 18px; /* Further reduced font size */
    font-weight: 300;
  }
  .title {
    font-size: 24px; /* Reduced font size */
  }
}